<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello React!</title>
        <script src="/js/vendor/aws-sdk.min.js"></script>
        <script src="/js/vendor/aws-sdk-mobile-analytics.min.js"></script>
        <script src="/js/vendor/hls.js"></script>
    </head>
    <body>
        <div id="sxm-header-element"></div>
        <div id="root" class="web-clip-player"></div>
        <div id="sxm-footer-element"></div>
    </body>
    <script src='https://www.siriusxm.com/servlet/Satellite/?pagename=SXM/Common/TopNavGNWidget'></script>
    <script src='https://www.siriusxm.com/servlet/Satellite/?pagename=SXM/Common/FooterNavGNWidget'></script>
</html>